* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter';
    color: #303030;
}

a {
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

header {
    background-color: #2965F1;
    color: white;
    height: 40px;
    padding: 9px 0;
}

header span {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.main-section {
    padding: 60px 0px;
    min-height: 1024px;
    background-color: #FAFAFF;

}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    font-size: 18px;
    font-weight: 400;
}

.main-image {
    max-width: 715px;
    margin-bottom: 100px
}

.about-section {
    background-color: #fff;
    padding: 100px 0px;
}

.select {
    border: 1px #303030 30%;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    font-weight: 400;
    font-size: 16px;
    background-repeat: no-repeat;
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.brands-list {
    font-size: 16px;
    font-weight: 400;
    padding: 0px 20px;
}


.contries-list { 
    font-size: 16px;
    font-weight: 400;
    padding: 0px 20px;
}

.label {
    font-size: 16px;
    font-weight: 400;
}

.text-field {
    height: 36px;
    width: 330px;
    border: 1px solid #3030304D;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 9px;

}

.btn {
    height: 36px;
    width: 125px;
    border-radius: 5px;
    background-color: #2965F1;
    font-size: 14px;
    font-weight: 700;
    color: #fff ;
}

.line {
    margin-top: 60px;
    margin-bottom: 60px;

}

.table { 
    height: 196px;
    border: 1px;
    table-layout: fixed; 
    width: 350px;
    border-collapse: collapse; 
    font-weight: 400;
    font-size: 14px;
}

.th {
    padding: 12px 15px;
}


.th, td {
    padding: 12px 15px;
}
.tr {
    height: 40px;
}

.footer {
    margin-top: 100px;
    height: 70px;
    padding: 26px 0px;
    background-color: #A3A7FF4D;

}

.footer-link {
    font-size: 14px;
    font-weight: 400;
    color:#2965F1;
}